
body {
  background-image: url("dickbutt.jpg") !important;
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
  width:  100%;
  height: 100%;
  margin: 0px;
}

#myCanvas {
  border: 1px solid #d3d3d3;
}

.black-backround {
  background-color: #2b2f35;
  color: #ffffff;
}

.white {
  background-color: #ffffff;
}
